streamlit
torch
nemo_toolkit
librosa
pydub
noisereduce
requests
soundfile
audio_recorder_streamlit
hydra-core
omegaconf
pytorch-lightning
huggingface_hub==0.16.4
transformers
sentencepiece
editdistance
nemo-toolkit[asr]==1.19.0
pytorch-lightning==1.9.0
hydra-core>=1.2.0,<1.3
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
